@model MVCBasics.Model.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Average)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Average)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Rno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
